---
import Layout from "../layouts/Layout.astro";
import ChatComponent from "../components/Chat";
import SharedDocument from "../components/SharedDocument";
---

<Layout>
  <main class="grid grid-cols-[auto_1fr] w-full h-full">
    <section class="p-10">
      <ChatComponent client:load />
    </section>
    <section class="p-10">
      <SharedDocument client:load />
    </section>
  </main>
</Layout>
