---
import Layout from "../layouts/Layout.astro";
import ChatComponent from "../components/Chat";
---

<Layout>
  <section class="p-10 w-96 h-[80%]">
    <ChatComponent client:load />
  </section>
</Layout>
