<main class="h-full grid place-content-center">
  <section class="py-8 antialiased bg-primary md:py-16 h-full">
    <div
      class="mx-auto grid max-w-screen-xl px-4 pb-8 md:grid-cols-12 lg:gap-12 lg:pb-16 xl:gap-0"
    >
      <div
        class="content-center justify-self-start md:col-span-7 md:text-start"
      >
        <h1
          class="fade-in-movement mb-4 text-4xl leading-none tracking-tight text-white md:max-w-2xl md:text-5xl xl:text-7xl"
        >
          Welcome to<br />
          <span class="font-extrabold">Chat-Doc!</span>
        </h1>
        <p
          class="fade-in mb-4 max-w-2xl text-gray-500 md:mb-12 md:text-lg lg:mb-5 lg:text-3xl"
        >
          Done by Eric Baena y Guillem Sánchez
        </p>
      </div>
      <div class="hidden md:col-span-5 md:mt-0 md:flex">
        <img
          class="block"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/girl-shopping-list-dark.svg"
          alt="shopping illustration"
        />
      </div>
    </div>
  </section>
</main>
<style>
  @keyframes fadeInMovement {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-movement {
    animation: fadeInMovement 1s;
  }

  .fade-in {
    animation: fadeIn 1s;
  }
</style>
